[core]
	pager = diff-so-fancy | less --tabs=4 -RF
[init]
	templateDir = ~/.config/git/template
[interactive]
	diffFilter = diff-so-fancy --patch
[gpg]
	format = ssh
[user]
	signingkey = /Users/puneetkakkar/.ssh/id_ed25519_personal.pub
[commit]
	gpgsign = true
[gpg "ssh"]
	allowedSignersFile = /Users/puneetkakkar/.ssh/allowed_signers
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
